body{
    background-color: #575757;
}
.qqq{
    margin-right: 10px;
}
.nnn{
    color: silver;
}
.v{
    width: 450px;
    color: white;
    border: 0.5px solid white;
}
.mmm{
    background-color: #029789;
    color: white;
    border: 1px solid white;
}
.nnn{
    background-color: white;
    color: black;
    text-align: left;
}